.large-text {
  span {
    font-size: 30px;
  }
  h3 {
    font-size: 40px;
  }
  p {
    font-size: 20px;
  }
  .timestamp {
    font-size: 25px;
  }
}

.new-display {
  .messageCard {
    margin-left: 5px;
    padding: 8px;
    border-radius: 18px;
    margin: 0 auto;
  }
}