.navbar-custom {
  background: rgb(130,184,188);
background: radial-gradient(circle, rgba(130,184,188,1) 0%, rgba(232,214,213,1) 50%, rgba(188,134,130,1) 100%);
}

.logo {
   width: 150px;
   height: 150px;
 }

 /* HIDE RADIO */
[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  width: 100px;
  height: auto;
  border: 4px solid #82b8bc;
}