@import '../../../styles/colors.scss';

#message-container {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
}
.messageCard {
  margin-left: 5px;
  max-width: 50%;
  min-height: 200px;
  padding: 8px;
  border-radius: 18px;
  margin: 0 auto;
}

.closebtn {
  top: 2px;
  right: 15px;
  font-size: 25px;
  cursor: pointer;
  float: right;
  color: $light-color3;
}

.timestamp {
  font-style: italic;
  text-align: center;
}

.img-rounded {
  border-radius: 50%;
}

img{
  float: left;
}

i{
  float: right;
}
